body {
    background-color: #303030;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    background-image: url(background.jpg);
}

#container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle {
    width: 960PX;
    margin: 20pX;
    text-align: center;
}

.square {
    width: 50%;
    float: left;
}

#logo {
    float: left;    
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 70px;
    width: 600;    
    text-align: left;
}



#zegar {
    float: right;    
    font-family: 'Josefin Sans', sans-serif; 
    font-size: 70px;
    text-align: center;
}
.tile1 {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #3095d5;
    float: left;
    text-align: center;
    box-shadow: #111111 10px 10px 10px;
}

.tile1:hover {
background-color: #2084c4;
}

.tile2 {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #666666;
    float: left;
    text-align: center;
    box-shadow: #111111 10px 10px 10px;
}

.tile2:hover {
    background-color: #555555;
    }

.tile3 {
    margin: 10px;
    width: 230px;
    height: 142px;
    background-color: #93c748;
    float: left;
    text-align: center;
    box-shadow: #111111 10px 10px 10px;
}
.tile3:hover {
    background-color: #82b637;
    }

.tile4 {
    margin: 10px;
    width: 420px;
    height: 82px;
    padding: 30px;
    background-color: #ee5a32;
    text-align: center;
    font-size: 26px;
    line-height: 150%;
    box-shadow: #111111 10px 10px 10px;

}

.tile4:hover {
    background-color: #dd4a21;
    }

.tile5 {
    margin: 10px;
    width: 420px;
    height: 244px;
    background-color: #666666;
    text-align: justify;
    padding: 30px;
    box-shadow: #111111 10px 10px 10px;
}


.fb {
    margin: 10px;
    width: 230px;    
    height: 142px;
    background-color: #4668b3;
    float: left;
    box-shadow: #111111 10px 10px 10px;
    text-align: center;

}
.fb:hover {
    background-color: #3557a2;
    }

.cupsell {
    margin: 10px;
    width: 230px;    
    height: 102px;
    padding-top: 40px;
    background-color: #eeeeee;
    float: left;
    box-shadow: #111111 10px 10px 10px;
    text-align: center;
   
    }

.cupsell:hover {
    background-color: #dddddd;
        }

.tilelink {

    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 230px;
    height: 142px;

}

.tilelinkhtml5 {

    color: #ffffff;
    text-decoration: none;
    display: block;

}

.sociallink {

    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 230px;
    height: 142px;
    margin-top: 20;

}