@media (min-width: 1100px) {
    #container {width: 100%;margin:0 auto;}
    .tilelink {max-width: 90%; min-width: 45%;}
 
    .rectangle {width:90%;}
    /* style dla 1050px */
}

@media (max-width: 1100px) and (min-width: 1050px) {
    #container {width: 100%;margin:0 auto;}
    .tilelink {max-width: 90%; min-width: 45%;}
    .square1 {width: 25%};
    .square2 {width: 75%};
    .rectangle {width:90%;}
    /* style dla 950px */
}

@media (max-width: 1000px) and (min-width: 800px) {
    #container {width: 100%;x;margin:0 auto;}
    .tilelink {max-width: 90%; min-width: 45%;}
    .square1 {width: 25%};
    .square2 {width: 75%};
    .rectangle {width:90%;}
    /* style dla 750px */
}

@media (max-width: 800px) and (min-width: 500px) {
    #container {width: 100%;;margin:0 auto;}
    .tilelink {max-width: 90%; min-width: 45%;}
    .square1 {width: 25%};
    .square2 {width: 75%};
 
    .rectangle {width:90%;}
    /* style dla 450px */
}

@media (max-width: 500px) {
    #container {width: 100%;;margin:0 auto;}
    .tilelink {max-width: 90%; min-width: 45%;}
    .square1 {width: 25%};
    .square2 {width: 75%};

    .rectangle {width:90%;}
    /* style dla 300px */
}

body {
    background-color: #303030;
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    background-image: url(background.jpg);
    background-attachment: fixed, scroll;
    background-repeat: repeat;

}

#container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.rectangle {
    width: 96%;
    margin: 4%;
    text-align: center;
}


.square1 {
    width: 50%;
    float: left;
    color: black;
    text-align: center;
    float: left ;
}
.square2 {
    width: 50%;
    float: left;
    color: black;
    text-align: center;
    float: left ;
}

#logo {
    float: left;    
    font-family: 'Nunito', sans-serif;
    font-size: 70px;
    width: 600;    
    text-align: left;
}



#zegar {
    float: right;    
    font-family: 'Nunito', sans-serif;
    font-size: 50px;
    text-align: right;
    margin-top: 20px;
}
.tile1 {
    margin: 10px;
    max-width: 90%; 
    min-width: 45%;
    height: 142px;
    background-color: #ffd000;
    float: left;
    text-align: center;
    box-shadow: #111111 10px 10px 10px;
}

.tile1:hover {
background-color: #eec200b6;
}

.tile2 {
    margin: 10px;
    max-width: 90%; 
    min-width: 45%;
    height: 142px;
    background-color:  #ff7b00;
    float: left;
    text-align: center;
    box-shadow: #111111 10px 10px 10px;
}

.tile2:hover {
    background-color: #f17501a4;
    }

.tile3 {
    margin: 10px;
    width: 45%;
    height: 142px;
    background-color: #ff3401;
    float: left;
    text-align: center;
    box-shadow: #111111 10px 10px 10px;
}
.tile3:hover {
    background-color:  #e72e009c;
    }

.tile4 {
    margin: 10px;
    width: 90%;
    height: 122px;
    padding: 10px;
    background-color: #ffffff;
    text-align: center;
    font-size: 26px;
    text-align: center;
    float: left;   
    box-shadow: #111111 10px 10px 10px;
    display: inline-block;
    text-decoration: none;
    display: block;
 

}

.tile4:hover {
    background-color: #ffffff;
    }

.tile5 {
    margin: 10px;
    width: 90%;
    height: 244px;
    background-color: #ffffff;
    text-align: justify;
    padding: 30px;
    box-shadow: #111111 10px 10px 10px;
    text-decoration: none;

   
}


.fb {
    margin: 10px;
    max-width: 90%; 
    min-width: 45%;  
    height: 142px;
    background-color: #4668b3;
    float: left;
    box-shadow: #111111 10px 10px 10px;
    text-align: center;

}
.fb:hover {
    background-color: #3557a2a6;
    }

.cupsell {
    margin: 10px;
    max-width: 90%; 
    min-width: 45%;   
    height: 102px;
    padding-top: 40px;
    background-color: #ffffff;
    float: left;
    box-shadow: #111111 10px 10px 10px;
    text-align: center;
   
    }

.cupsell:hover {
    background-color: #eeeeee88;
    display: inline-block;
        }

.tilelink {

    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 90%;
    height: 142px;

}

.tilelinkhtml5 {

    color: #ffffff;
    text-decoration: none;
    display: block;

}

.sociallink {

    color: #ffffff;
    text-decoration: none;
    display: block;
    width: 230px;
    height: 142px;
    margin-top: 20;

}

.wsieci { 
    margin: 10px;
    width: 230px;    
    height: 102px;

    float: right;
}

.cvlink {

    color: #000000;
    text-decoration: none;
}
